@import url(/public/styles/variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F5E9D9;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: center;
    font-family: var(--primary-ff);
    font-size: var(--fs-m);
}

.input-wrapper {
    display: flex;
    justify-content: center;
}

.input {
    border: 1px solid var(--secondary-text-color);
}

 .postcard {
    max-width: 350px;
    margin: 50px auto 0;
    padding: 20px;
    background: var(--secondary-bg);
    border: 10px solid transparent;
    border-image: 10 repeating-linear-gradient(135deg, darkmagenta, magenta 10px, transparent 10px, transparent 20px, #FBCFDF 20px, #FBCFDF 30px, transparent 30px, transparent 40px);
    font-family: var(--secondary-ff);
    color: var(--primary-text-color);
 }

 .form-row {
    margin-bottom: 15px;
 }

 .form-row input[type="text"], .form-row input[type="Card number"], .form-row textarea {
    width: 100%;
    padding: 0 10px;
    line-height: 35px;
    border-width: 0;
    outline: none;
    background-size: 8px 35px;
    font-family: var(--secondary-ff);
    border: none;
    border-bottom: 1px solid var(--fourth-text-color);
 }

 .form-row textarea {
    background-attachment: local;
    background-repeat: repeat;
    resize: none;
 }

 .form-row input[type="submit"] {
    padding: 10px 20px;
    margin-top: 10px;
    background: magenta;
    border-width: 0;
    cursor: pointer;
    outline: none;
    font-family: var(--secondary-ff);
    font-size: 13px;
    letter-spacing: 1px;
    color: #fffdee;
    text-transform: uppercase;
    transition: 1s cubic-bezier(.165, .84, .44, 1);
 }

 .form-row input[type=submit]:hover {
    background: darkmagenta;
 }